@import '../../../../styles/styles.scss';

::ng-deep mat-dialog-container  {
    background: $white !important;
    border: 1px solid $secondary;
    box-sizing: border-box;
    border-radius: 20px !important;
}

.welcome-container {
    @media screen and (min-width: $sm) {
        @include pad-2(8,16);
        min-width: 35em;
    }
    @media screen and (max-width: $sm) {
        @include pad-2(2,4);
    }
}