//PRINCIPALS
$white: #fef9f8;
$orange: #ef9273;
$brown: #995e56;
$grey: #ababab;
$black: #0d0d0d;

//SECONDS
$light-grey: #e2e2e2;

// FONT SIZES:
$font-xs: 10px;
$font-s: 14px;
$font-m: 16px;
$font-l: 22px;
$font-xl: 30px;
$font-xxl: 40px;

// BREAKPOINTS
$xs: 599px;
$sm: 959px;
$md: 1279px;
$lg: 1919px;
$xl: 5000px;
